@{
    ViewBag.Title = "Historia";
}
<h2>@ViewBag.Title.</h2>


<div class="containerNews col-xs-12 col-sm-11 ">

    <h2>Viaje por el pasado.</h2>

    <div class="containerNewsImage">
        <img class="imgNewsHistoria" src="~/Multimedia/img/articuloEicma.jpg">
    </div>

    <div class="containerNewsBody1XL hidden-xs">
        <p class="paragraf">
            La apuesta de Yamaha entre su gama de cilindrada media demuestra un creciente interés por estas ligeras 600 cc, que en los últimos tiempos tienen una gran aceptación por parte del público. La pequeña XJ6 N necesitaba una renovación tras cuatro años en el mercado, en donde ha conquistado a un
            amplísimo número de usuarios. Y esta renovación ha llegado con algunos detalles que la hacen más moderna y atractiva y que también se extienden a sus hermanas Diversion, XJ6 S y F; es decir, la versión semicarenada y la de carenado integral.
        </p>

        <!--Adv for large screen-->
        <div class="hidden-xs" id="advLarge"></div>

    </div>

    <div class="containerNewsBody1SM visible-xs">
        <p class="paragrafXS">
            El evento desciende de las primeras exposiciones de los deportes de motor en general, celebrada en la capital de Lombardia a principios de siglo XX, la cual se llamó Exposition Internationale de l'Automobile y Ciclo, celebrado del 5 al 27 de mayo 1901 , con una superficie de exposición de 6.875 m 2 que registró un gran número de visitantes.
            El primer Salón Internacional de Motocicletas, con el que se inicia la cuenta de los numerosas exposiciones futuras, se llevó a cabo en 1914 en el Diana Kursaal , pero desde la segunda edición, que tuvo lugar seis años más tarde a causa de la Primera Guerra Mundial y fue trasladada a la Fast Club Milano, antes de ser finalmente aceptada, ya 1925,
            en el Palazzo della Permanente, donde permaneció hasta enero de 1939. La 20 ª edición se dividió en dos sesiones para dar cabida a todos los expositores. Después de unos meses, los graves acontecimientos que anunciaban la inminente Segunda Guerra Mundial afectó y aisló a las principales empresas de la motocileta del panorama europeo y las autoridades 
            milanesas para satisfacer tanto a fabricantes italianos como extranjeros, se vieron obligados a organizar la 21 ª edición, sin esperar a la anual y se inauguró a finales de noviembre en los espacios más grandes del Palazzo dell'Arte , que fue sede de las ediciones posteriores, hasta enero de 1952.
        </p>
    </div>

    <div class="containerNewsImage">
        <img class="imgNewsHistoria" src="~/Multimedia/img/eicma.jpg">
    </div>

    <div class="containerNewsBody2">
        <p>
            En ese año, debido a la enorme demanda del mercado para bicicletas, motocicletas y triciclos, pero afectada por la gigantesca reconstrucción a causa de la guerra y la aparición de decenas de motocicletas nuevas, la edición del 29 de enero resultó ser insuficiente para satisfacer las necesidades de los operadores, debido a la pequeña área de visualización. Por esta razón, a partir de la edición del 30 de diciembre de 1952 , fue trasladado al Palacio de la Mecánica, uno de los pabellones de la Feria de Milán, una estructura que se convertirá en la sede permanente del EICMA, tras el traslado de la exposición de la entidad.
        </p>
    </div>

    <footer class="date">
        <span>Publicado: 25/05/2017 </span><span class="autor">Autor:<a href="#"> Jesús Martínez</a></span>
    </footer>
</div>