@{
    ViewBag.Title = "Segunda noticia destacada";
}

<div class="containerNews col-xs-12 col-sm-11 ">

    <h2>Yamaha XJ6, el perfecto equilibrio entre deportividad y utilidad</h2>


    <div class="containerNewsImage">
        <img src="~/Multimedia/img/ducatimonter02.jpg">
    </div>

    <div class="containerNewsBody1XL hidden-xs">
        <p class="paragraf">
            El diseño del colín llama la atención con su carácter deportivo. Una fascinación racing que se expresa en la fluidez del motor R de 160 CV. La atracción se hace seducción cuando se descubre la agilidad única derivada del bastidor listo para la pista y de la ergonomía perfecta. 180 kg de control total realzados por los refinados componentes R.
        </p>

        <!--Adv for large screen-->
        <div class="hidden-xs" id="advLarge">
            <div class="advCross" id="advLargeCross"></div>
        </div>

    </div>

    <div class="containerNewsBody1SM visible-xs">
        <p class="paragrafXS">
            En el diseño de cada moto, Ducati tiene constantemente el objetivo de garantizar la máxima fiabilidad y reducir los costes de mantenimiento. Un empeño que ha permitido extender los intervalos del cupón de mantenimiento principal, es decir, el Desmo Service (el cupón de mantenimiento durante el que se efectúa el control y la eventual regulación del juego válvulas), hasta un recorrido de 30.000 km para la Monster 1200 R. Incluso los cupones de mantenimiento más sencillos, como el Oil Service, han llegado a 15.000 km o 12 meses. Un intervalo considerable para motores de altas prestaciones, que confirma los elevados estándares de calidad adoptados en la selección de los materiales y en los procesos de investigación y desarrollo. Ducati invierte constantemente en la formación técnica de sus concesionarios: la competencia específica de la red de los Ducati Service oficiales permite llevar a cabo de forma rigurosa las operaciones necesarias para mantener toda Ducati perfectamente eficiente, y los equipos avanzados como el Ducati Diagnosis System permiten actualizar el software de cada Ducati con las últimas versiones disponibles para garantizar siempre el máximo nivel de prestaciones de los sistemas electrónicos.
        </p>
    </div>

    <div class="containerNewsImage">
        <img class="img2" src="~/Multimedia/img/ducatimonter03.jpg">
    </div>

    <div class="containerNewsBody2">
        <p>
            El diseñador quiso comunicar el alto rendimiento de la Monster 1200 R con un diseño deportivo, compacto y ligero para crear la imagen de un modelo individualista, casi de asiento único
            El grupo de asientos del piloto y del pasajero (usando una solución de asiento único, eso sí) es visualmente corto y estrecho, lo que aporta un aspecto deportivo elegante. El colín y la cubierta del colín del pasajero presentan un volumen afilado caracterizado por superficies fuertes y marcadas. El lateral del asiento es compacto y delgado.
        </p>
    </div>

    <footer class="date">
        <span>Publicado: 25/05/2017 </span><span class="autor">Autor:<a href="#"> Jesús Martínez</a></span>
    </footer>
</div>