@{
    ViewBag.Title = "Primera noticia destacada";
}

<div class="containerNews col-xs-12 col-sm-11 ">

    <h2>Yamaha XJ6, el perfecto equilibrio entre deportividad y utilidad</h2>


    <div class="containerNewsImage">
        <img class="imgNews" src="~/Multimedia/img/xj6.jpg">
    </div>

    <div class="containerNewsBody1XL hidden-xs">
        <p class="paragraf">
            La apuesta de Yamaha entre su gama de cilindrada media demuestra un creciente interés por estas ligeras 600 cc, que en los últimos tiempos tienen una gran aceptación por parte del público. La pequeña XJ6 N necesitaba una renovación tras cuatro años en el mercado, en donde ha conquistado a un
            amplísimo número de usuarios. Y esta renovación ha llegado con algunos detalles que la hacen más moderna y atractiva y que también se extienden a sus hermanas Diversion, XJ6 S y F; es decir, la versión semicarenada y la de carenado integral.
        </p>

        <!--Adv for large screen-->
        <div class="hidden-xs" id="advLarge">
            <div class="advCross" id="advLargeCross"></div>
        </div>

    </div>

    <div class="containerNewsBody1SM visible-xs">
        <p class="paragrafXS">
            La apuesta de Yamaha entre su gama de cilindrada media demuestra un creciente interés por estas ligeras 600 cc, que en los últimos tiempos tienen una gran aceptación por parte del público. La pequeña XJ6 N necesitaba una renovación tras cuatro años en el mercado, en donde ha conquistado a un
            amplísimo número de usuarios. Y esta renovación ha llegado con algunos detalles que la hacen más moderna y atractiva y que también se extienden a sus hermanas Diversion, XJ6 S y F; es decir, la versión semicarenada y la de carenado integral.
        </p>
    </div>

    <div class="containerNewsImage">
        <img class="imgNews" src="~/Multimedia/img/xj6-3.jpg">
    </div>

    <div class="containerNewsBody2">
        <p>
            La competencia en este sector es dura y muy variada, puesto que la XJ6 N tiene que rivalizar con motos de todo tipo, desde las Ducati Monster 696, Kawasaki ER-6n y Suzuki Gladius entre las bicilíndricas hasta la Duke 690 de KTM con un único cilindro. Eso, además de la amplia oferta de Honda con su Hornet, que va desde la más sencilla y veterana CBF 600 N hasta la novedosa NC 700 S, que representa una nueva forma de entender este estilo de motos. Y sin olvidar las tricilíndricas, si bien la excitante MV Agusta Brutale 675 y la no menos interesante Triumph Street Triple juegan en una división superior, la que correspondería a la FZ8. Es decir, que en Yamaha se han visto obligados a darle un nuevo aire a su XJ6 N y mejorarla en pequeños detalles.
            Sin llegar a profundizar en la parte ciclo y el propulsor, que permanecen invariables, lo cierto es que ahora la Yamaha es más atractiva estéticamente gracias a los siguientes retoques: faro rediseñado, plásticos incoloros de los intermitentes, aletines laterales rediseñados y tapa del depósito de combustible en color negro. Por lo que respecta a la practicidad, vemos unas asas más generosas para el pasajero, un nuevo tapizado en el asiento y un cuadro de instrumentos más visible. En definitiva, ligeras mejoras, porque la competencia aprieta, en una moto que cautiva por su sencillez y efectividad. Y otra novedad más es la versión cromática que hoy probamos, perteneciente a la serie Race Blu, con su peculiar decoración en gris satinado con detalles en azul eléctrico, serie a la que también pertenecen la XJ600S y F, FZ8, R1, R6 e YZF-R 125.
        </p>
    </div>

    <footer class="date">
        <span>Publicado: 25/05/2017 </span><span class="autor">Autor:<a href="#"> Jesús Martínez</a></span>
    </footer>
</div>